@mixin link($link, $hover, $active, $visited) {
  a {
    color: $link;

    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }

    @content;
  }
}
@mixin font($color: white, $fontW: light) {
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: Arial, sans-serif;
  color: $color;
}

@mixin padd($padd...) {
  padding: $padd;
}

@mixin grid($cols, $margin) {
  float: left;
  background: rebeccapurple;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;

  @if ($cols >= 5) {
    width: 50%;
    margin-right: 0;
  } @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols);
  }

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
