@import "variables";
@import "mixin";

// Основная запись
* {
  margin: 0;
  padding: 0;
}

@include link(black, red, blue, green) {
  background: black;
  width: 100%;
  padding: 10px;

  &:visited {
    color: rebeccapurple;
  }
}

.header {
  @include link(black, red, blue, green) {
    &:visited {
      color: rebeccapurple;
    }
  }
}

#grid {
  float: left;
  width: 100%;

  > div {
    @include grid(4, 2%);
  }
}

@for $i from 24 to 29 {
  .#{$someVar}-#{$i} {
    width: 50px + $i;
    height: 50px + $i;
  }
}

.block:not(.first) {
  @include padd(50px);
  background: $bgColor;
  height: 200px;
  margin-bottom: 20px;
}
.first {
  background: $bgColor;
  height: 100px;
  margin-bottom: 20px;
}
#central_block {
  padding: 30px;
  text-align: center;

  ul {
    list-style: none;
    display: inline-block;

    li {
      float: left;
      margin-right: (100px - 50px);
      @include font($color, bold);

      &:hover {
        color: $hoverColor;
        cursor: default;
      }
    }
  }
}
